* {
  font-size: 14px;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

.backGround {
  background-color: #EDEDED;
  display: flex;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
}

.input {
  padding-left: 12px;
  margin-top: 25px;
  font-weight: 400;
  width: 275px;
  height: 43px;
  border-radius: 4px;
  border: solid 1px;
  font-size: 19px;
  background-color: #FFFFFF;
}

.button {
  font-weight: 400;
  width: 289px;
  height: 43px;
  border-radius: 4px;
  border: solid 3px;
  font-size: 19px;
  background-color: #F6F6F6;
}

.SingIn {
  padding-top: 80px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  font-size: 35px;
  line-height: 42.36px;
}

.or {
  align-items: center;
  padding-top: 15px;
  width: 289px;
  height: 42px;
  font-weight: 300;
  display: flex;
  justify-content: center;
}

.newAccount {
  padding-top: 20px;
  padding-bottom: 25px;
  font-weight: 300;
  color: #0094FF;
  display: flex;
  justify-content: start;
}
